<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Modifier page "test"
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>

<!-- Main content -->
<section class="content" *ngIf="page">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
        <!-- form start -->
        <form role="form">
            <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Contenu</a></li>
              <li><a href="#tab_2" data-toggle="tab">SEO</a></li>
              <li><a href="#tab_3" data-toggle="tab">Fields</a></li>
              <li class="pull-right">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="lang" id="option1" autocomplete="off" checked> <i class="flag-icon flag-icon-fr"></i>&nbsp; Fr
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="lang" id="option2" autocomplete="off"> <i class="flag-icon flag-icon-us"></i> En
                    </label>
                </div>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="form-group">
                    <label>Titre :</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="page.title">
                </div>
                <div class="form-group">
                    <label class="control-label">Slug (URL) :</label>
                    <input class="form-control m-b" type="text" [(ngModel)]="page.slug">
                </div>
                <div class="form-group">
                    <label>Contenu :</label>
                    <textarea name="content" class="form-control summernote" id="summernote" cols="30" rows="10" [(ngModel)]="page.content"></textarea>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <div class="form-group">
                    <label>Meta title :</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="page.meta_title">
                </div>
                <div class="form-group">
                    <label>Meta keywords :</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="page.meta_keywords">
                </div>
                <div class="form-group">
                    <label>Meta description :</label>
                    <textarea name="content" class="form-control" cols="30" rows="10" [(ngModel)]="page.meta_description"></textarea>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                asdfasdfasd
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
            <div class="box-footer">
            <button type="submit" class="btn btn-primary" (click)="save()">Enregistrer</button>
            <button type="button" class="btn btn-default" (click)="gotoPages()">Retour</button>
          </div>
          </div>

          
        </form>

    </div><!--/.col (left) -->
  </div>   <!-- /.row -->
</section><!-- /.content -->
