<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Pages
    <small>Gestion des pages</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!--<div class="box-header">
          <h3 class="box-title">Data Table With Full Features</h3>
        </div> /.box-header -->
        <div class="box-body">
          <table dataTable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Titre</th>
                <th>URL</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="#page of pages">
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.created_at }}</td>
                <td><button type="button" class="btn btn-warning" (click)="onSelect(page)"><i class="fa fa-edit"></i> Modifier</button></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
