/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/**
 * Vendor plugins
 */

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/sweetalert/dev/sweetalert";
@import "node_modules/font-awesome/scss/font-awesome";
@import "resources/assets/js/owl.carousel/assets/scss/owl.carousel";
//@import "node_modules/animate.css/scss/animate";

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import "base";

/**
 * Helper Variables & Functions
 */

@font-face {
  font-family: 'Neo Sans Std';
  src: url('../fonts/NeoSansStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/NeoSansStd-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NeoSansStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/NeoSansStd-Bold.svg#f200fffa1e75bccb8a9d2543cc303c60') format('svg'); /* Legacy iOS */

  font-style:   bold;
  font-weight:  700;
}

@font-face {
  font-family: 'Neo Sans Std';
  src: url('../fonts/NeoSansStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NeoSansStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/NeoSansStd-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NeoSansStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/NeoSansStd-Light.svg#994acf8cde643c658fa4d87f1a0d786b') format('svg'); /* Legacy iOS */

  font-style:   light;
  font-weight:  200;
}

@font-face {
  font-family: 'Neo Sans Std';
  src: url('../fonts/NeoSansStd-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/NeoSansStd-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/NeoSansStd-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/NeoSansStd-Regular.svg#6b94167f362721a15c8c80567e8945f1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

$blue : #34404a;
$gold : #eaa851;

$font: 'Neo Sans Std', helvetica, arial, sans serif;

body {
  font: 1.4em/1.4 $font;
  background: #FFF url(../img/pattern-body.png) repeat;
  color: $blue;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  padding: 5px 0 20px;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}

a, button, i{
  transition: all 0.2s ease-in;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: $gold;
  &:hover, &:focus {
    color: $gold;
    text-decoration: none;
  }
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.main {
  //  .flexbox & { flex: 1 0 auto; }
  position: relative;
}

/* ==========================================================================
   Module Styles
   ========================================================================== */

#contact-shortcut{
  background: $blue;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px 30px 25px;
  position: fixed;
  z-index: 99;
  color: #FFF;
  transform: rotate(90deg);
  top: 50%;
  left: -73px;
  border-radius: 30px 30px 0 0;
  transition: all 0.3s ease-in;
  cursor: pointer;
  i{
    width: 14px;
    height: 14px;
    background: $gold;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
  }
  &:hover{
    left: -65px;
    background: $gold;
  }
}

/* TOP bar menu */
.top-nav-bar{
  a{
    font-size: 12px;
    color: $blue;
    &:hover{
      text-decoration: none;
      color: $gold;
    }
  }
  .phone{
    i{
      border: 1px solid $gold;
      border-radius: 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      color: $gold;
      margin-top: 5px;
      margin-right: 3px;
    }
  }
  .social{
    i{
      background: $gold;
      border-radius: 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 10px;
      text-align: center;
      line-height: 20px;
      color: #FFF;
    }
    &:hover{
      i{
        background: $blue;
      }
    }
  }
}

/* Menu */
.navbar{
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 10;

  .dropdown-menu{
    background-color: $blue;
    color: white;
    width: 200px;
    border-radius: 10px;
    li{
      float: left;
    }
  }


  .nav-header{
    position: relative;
  }
  .navbar-brand{
    padding: 0;
    text-align: center;
    float: none;
    img{
      max-width: 190px;
      margin-left: 50px;
      display: inline-block;
    }
  }
  .navbar-toggle{
    background-color: $gold;
    .icon-bar{
      background-color: $blue;
    }
    &.collapsed{
      background-color: $blue;
      .icon-bar{
        background: $gold;
        border-radius: 3px;
      }
    }
  }
  .navbar-collapse{
    background-color: $blue;
    position: relative;
    border-radius: 10px 0 0 10px;
    padding: 0;
    li.active a{
      color: $gold;
      background-color: transparent;
    }
    a{
      color: #FFF;
      padding-left: 13px;
      padding-right: 13px;
      &:hover, &:focus{
        color: $gold;
        background-color: transparent;
      }
      &.highlighted{
        background-color: $gold;
        border-radius: 50px;
        padding: 3px 12px 1px;
        font-size: 12px;
        margin-top:  13px;
        display: inline-block;
        text-align: center;
        &:hover{
          background-color: $blue;
          color: $gold;
        }
      }
    }

  }
  .fake-back{
    width: 3000px;
    position: absolute;
    background-color: $blue;
    top: 0px;
    height: 50px;
    display: none;
    &.right{
      right: -2980px;
    }
    &.left{
      left: -2970px;
      border-radius: 0 10px 10px 0;
    }
  }
}

.title-line{
  content:' ';
  display: block;
  height: 5px;
  background: $gold;
  border-radius: 3px;
  width: 250px;
  margin-bottom: -3px;

  &.center{
    margin: 0 auto;
  }
}

#banner{
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 570px;
  .image-block{
    overflow: hidden;
  }
  .text-block{
    padding-top: 70px;
    .title{
      font-size: 56px;
      font-weight: bold;
      small{
        display: block;
        font-weight: bold;
        color: $blue;
        font-size: 40px;

      }
    }
    .des{
      width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .btn-link{
      display: inline-block;
      border-radius: 40px;
      border: 2px solid $blue;
      color: $blue;
      padding: 5px 20px;
      text-decoration: none;
    }
    .fa{
      display: inline-block;
      width: 25px;
      height: 25px;
      font-size: 12px;
      color: #FFF;
      text-align: center;
      line-height: 25px;
      background-color: $blue;
      border-radius: 50%;
      &:hover{
        background-color: #FFF;
        color: $blue;
        text-decoration: none;
      }
    }
    .get-appointment-block{
      display: block;
      margin-top: 0px;
      &:hover{
        transform: scale(1.01);
      }
      img{
        max-width: 100%;
      }
    }
  }
}

.header {
  position: relative;
  height: 350px;
  background-color: #A8C8DD; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
  background-position: center !important;
  .container {
    height: 100%;
    position: relative;
  }
  .page-title {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    .intervantion {
      display: block;
      color: $gold;
      font-size: 21px;
      text-align: center;
    }
  }
}

section{
  padding: 30px 0;
  &.no-padding{
    padding: 0 !important;
  }
  .section-title{
    text-transform: uppercase;
    font-weight: bold;
  }
  &.prez{
    text-align: center;
    background-color: #FFF;
  }

  .owl-carousel{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .item{
    overflow: hidden;
    position: relative;
    background-color: $blue;
    border-radius: 10px;
    .leftPart{
      width: 49%;
      float: left;
      img{
        width: 100%;
        border-radius: 10px 0 0 10px;
      }
    }
    .rightPart{
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 49%;
      float: right;
      text-align: left;
      .title-item{
        color: $gold;
        padding-bottom: 5px;
        border-bottom: 1px solid #979797;
        margin-bottom: 18px;
      }
      .description-item{
        color: #979797;
        font-size: 12px;
      }
      .btn.more{
        background-color: $gold;
        border-radius: 20px;
        padding: 2px 10px 0px;
        color: white;
        font-size: 12px;
        text-align: left;
        &:hover{
          color: $gold;
          background-color: transparent;
        }
      }

    }
  }
}

.clinique-container {

  background-color: white;
  padding:0 0 20px 0;

  h2.lined{

    border-bottom: 1px solid $blue;
    margin-top: 30px;

    &:after{
      content:' ';
      display: block;
      height: 5px;
      background: $gold;
      border-radius: 3px;
      width: 250px;
      margin-bottom: -3px;
    }
  }
  h2.right-title{
    color: $gold;
    text-transform: uppercase;
  }

  .four-column{
    background-color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    h2.title{
      font-weight: bold;
      color: $gold;
      font-size: 50px;
      text-transform: uppercase;
    }
    h3.sub-title{
      margin-top: -10px;
      font-weight: bold;
      color: $blue;
    }
  }
  .separator-block{
    margin: 20px 50px 20px 50px;
  }

  .gallerie {
    text-align: center;
    .h2{
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .bg1{
    height: 320px;
    overflow: hidden;
    background-color: lightblue;
    padding: 10px 0 10px 0;
    .padding-left{
      padding-left: 75px;
      p{
        padding-left: 10px;
      }
    }

  }
  .bg2{
    height: 320px;
    overflow: hidden;
    background-color: $blue;
    padding: 10px 0 10px 0;
    text-align: center;

    .center_block{
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      bottom: 0;

      i{
        background: transparent;
        border-radius: 50%;
        border: 2px solid $gold;
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        color: #FFF;
      }
      &:hover{
        i{
          background: $blue;
        }
      }

    }
    h4{
      color: white;
    }

  }


}
.content-wrapper{
  padding-bottom: 100px;
  background: #FFF;
  h2{
    border-bottom: 1px solid $blue;
    margin-top: 30px;
    &:after{
      content:' ';
      display: block;
      height: 5px;
      background: $gold;
      border-radius: 3px;
      width: 250px;
      margin-bottom: -3px;
    }
  }
}

.apropos{
  background-color: #00cc99;
  background-image: url("../img/bg.jpg");
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;

  .section-title{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  p{
    color: white;
  }

  .suitelink{
    margin:20px 0 20px 0;
    a{
      font-weight: bold;
      color: $gold;
    }
  }

  .social{

    i{
      background: transparent;
      border-radius: 50%;
      border: 2px solid $gold;
      display: inline-block;
      width: 30px;
      height: 30px;
      font-size: 15px;
      text-align: center;
      line-height: 25px;
      color: #FFF;
    }
    &:hover{
      i{
        background: $blue;
      }
    }
  }

}

.owl-carousel{
  margin-top: 20px;
  margin-bottom: 20px;
}

.item{
  background-color: $blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  .leftPart{
    width: 60%;
    float: left;
    img{
      border-radius: 10px 0 0 10px;
      max-height: 100%;
      width: auto;
    }
  }

  .rightPart{
    hr{
      background-color: #979797;
      width:40%;
    }

    .title-item{
      color: $gold;
      text-align: left;
      border-bottom:2px solid #979797;
    }

    .description-item{
      color: #979797;
      font-size: small;
      text-align: left;
    }

    a{
      border-radius: 10px;
      text-align: left;
    }

    .btnSuite{
      background-color: $gold;
      padding: 5px 10px 5px 10px;
      color: white;
      text-align: left;
    }

  }

}

.specialite{

  margin: 0 0 -30px 0;

  .text-block{
    margin-top: 50px;
  }
  .section-title{
    text-transform: uppercase;
    font-weight: bold;
    color: $blue;
    margin-bottom: 20px;
  }
  p{
    color: $blue;
  }
  .link{
    background-color: $gold;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 18px 8px 18px;
  }

}

  .testimonial {
    background-color: $gold;
    padding-top: 20px;
    text-align: center;
    .ultem {
      color: white;
      display: inline-block;
      list-style-type: none;
      li {
        margin-right: 20px;
        float: left;
        h2{
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      i {
        font-size: 34px;
        color: #c98a35;
      }
      .quoteright {
        padding-top: 35px;
      }
    }
    .content {
      margin: 15px 0 20px 0;
      img {
        border: 3px solid lightgrey;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        margin: 15px auto;
      }
      p {
        color: white;
      }
      .nameuser {
        color: $blue;
        font-weight: 600;
      }
    }
    //.owl-theme .owl-dots .owl-dot.active span
    .owl-theme {
      .owl-dots {
        .owl-dot {
          span{
            width: 50px;
            height: 10px;
            margin: 5px 2px;
            display: block;
            background: white;
          }
          &.active{
            span{
              background: $blue;
            }
          }
        }

      }
    }


  }

.map{
  padding: 0;
  margin: 0;
  .map-canvas {
    width:100%;
    height: 400px;
  }
}


.bannerwithtitle{

  float: left;
  position: relative;

  .page-title {
    position: absolute;
    bottom: 0;
    right: 50px;
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
  }

}

.textdescription{
  padding: 50px 0 150px 0;
  background-color: white;
}

.paragraph{
  padding: 20px 0 20px 0;
}

.btn-plusinfo{
  margin: 20px auto;
  a{
    background-color: $gold;
    color: white;
    border-radius: 50px;
    padding: 10px;
  }
}

/* ===========================
 Footer
 */
.footer{
  background: $gold;
  min-height: 120px;
  position: relative;
  .container{
    background: $blue;
    font-size: 12px;
    padding: 20px;
    color: #FFF;
    border-radius:5px;
    margin-top: -50px;
    a.fa{
      color: #FFF;
      background: lighter($blue, 10%);
      margin: 5px 10px;
    }
    img{
      margin: 5px 30px;
    }
  }
}

.banner-image{
  display: block;
  width: 100%;

  img{
    max-width: 100%;
    height: auto;
  }
}

.text{
  background: lightgray;
  padding-bottom: 50px;
  h2{
    border-bottom: 1px solid $blue;
    margin-top: 30px;
    &:after{
      content:' ';
      display: block;
      height: 5px;
      background: $gold;
      border-radius: 3px;
      width: 250px;
      margin-bottom: -3px;
    }
  }
}

.gallerie{

  background-color: white;
  padding: 50px 0 150px 0;

  .image-border-radius {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin: 10px 0 10px 0;
  }

}

.padding{
  height: 20px;
}

.loginsection{
  padding: 200px 0 200px 0;
  background-color: lightgray;
  .formlogin {
    background-color: $blue;
    border-radius: 50px;
    width:400px;
    padding: 50px;
  }

  label{
    color: white;
    font-weight: normal;
  }

  input{
    border-radius: 50px;
    background-color: $gold;
    border: transparent;
  }
}

.hotelsection{
  padding: 200px 0 200px 0;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;

  .comingsoon{
    text-align: center;
  }

  h2{
    color: $gold;
  }
  h3{
    color: white;
  }
  h1{
    color: white;
    margin-top: -30px;
    font-weight: bold;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .fake-back{ display: inline-block !important; }
  .navbar-brand img{
    margin-top: -20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-collapse{
    border-radius: 10px !important;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .navbar-collapse{
    border-radius: 10px !important;
    // padding: 20px !important;
    a{
      text-align: center;
    }
  }


  #banner {
    .text-block {
      background: rgba(255, 255, 255, 0.7);
    }
    .image-block {
      position: absolute;
    }
  }
  .loginsection {
    padding: 100px 0 100px 0;
    .formlogin {
      width: 300px;
    }
  }
}

@media all and (max-width: 320px) {


  .bannerwithtitle{
    .page-title {
      position: absolute;
      bottom: 0;
      right: 50px;
      color: white;
      font-size: 22px;
      text-transform: uppercase;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      text-align: left;
    }
  }
  .loginsection {
    padding: 100px 0 100px 0;
    .formlogin {
      width: 300px;
    }
  }

  .testimonial {
    .ultem {
      li {
        margin-right: 5px;
      }
      i {
        font-size: 15px;
      }
      .quoteright {
        padding-top: 0px;
      }
    }
    .content {
      margin: 5px 0 20px 0;
      img {
        margin: 5px auto;
      }
    }

  }

  section .item{
    .rightPart{
      padding-top: 5px;
      padding-left: 0;
      padding-right: 0;
      width: 49%;
      float: right;
      text-align: left;
      hr{
        background-color: #979797;
        width:40%;
      }
      .title-item{
        color: #eaa851;
        padding-bottom: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #979797;
      }
      .description-item{
        color: #979797;
        font-size: 12px;
      }

      a{
        border-radius: 10px;
        text-align: left;
      }
      .btnSuite{
        background-color: #eaa851;
        padding: 5px 10px 5px 10px;
        color: white;
        font-size: 12px;
        text-align: left;
      }
    }
  }
  .clinique-container {
    .bg1 {
      .padding-left {
        padding-left: 30px;
      }
    }
  }

}
